#root{
  width: 100%;
  height: 100%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hbox {
  display: flex;
  flex-direction: row;
}
.vbox {
  display: flex;
  flex-direction: column;
} 
.hcenter {
  justify-content: center;
}
.vcenter {
  align-items: center;
}

.pdfView{
  width: 100%;
  height: 100%;
}
.pdfToolBar{
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.cropperToolBar{
  position: fixed;
  bottom: 0;
  display: flex;
  max-height:300px;
  min-height: 100px;
  right: 0;
  left: 0;
  justify-content: space-between;
  background-color:darkorange;
  align-items: center;
  padding:20px;
}